body {
	background: lightgray;
	text-align: center;
}
.logo {
	margin-bottom: 2em;
	vertical-align: top;
}
#regform {
	display: inline-block;
	margin-left: 2em;
}
#regform div:first-child {
	margin-top: inherit;
}
#regform div {
	margin-top: 1em;
	width: 25em;
	text-align: left;
}
#regform div:last-child {
	text-align: center;
}
input[type="date"] {
    line-height: inherit;
}
label {
	display: inline-block;
	width: 10em;
}
label.colorselect {
	display: inline;
	width: inherit;
}

.message {
	text-align: center;
	margin: 2em;
	padding: 1em;
}

.msg_ok {
	background: #FAFAFA;
}

.msg_error {
	color: white;
	padding-left: 5em;
	background: url('/img/icon_exclamation_64.png') no-repeat 0.5em 0.5em #0A0A0A;
}