body {
	background: lightgray;
	text-align: center;
}
.logo {
	margin-bottom: 2em;
	vertical-align: top;
}
#regform, #loginform {
	display: inline-block;
	margin-left: 2em;
}
#regform div:first-child,#loginform div:first-child {
	margin-top: inherit;
}
#regform div, #loginform div {
	margin-top: 1em;
	width: 25em;
	text-align: left;
}
#regform div:last-child, #loginform div:last-child {
	text-align: center;
}
input[type="date"] {
    line-height: inherit;
}
label {
	display: inline-block;
	width: 10em;
}
label.colorselect {
	display: inline;
	width: inherit;
}

.alert {
	margin: 2em;
}

.alert p {
	font-size: inherit;
}

.message {
	text-align: center;
	margin: 2em;
	padding: 1em;
}