<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset='utf-8'>
    <title>Welcome to Monochrome</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" media="screen" />
    <script src="/code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/code.jquery.com/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <ul class="nav nav-pills pull-right">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/registration.php">Registration</a></li>
            <li><a href="/login.php">Login</a></li>
        </ul>
        <div>
            <h1>Monochrome</h1>
        </div>
    </header>
    <div class="jumbotron">
        <p>Welcome, random visitor, please <a href="/login.php">login</a></p>
        <img class="logo" src="/img/core-of-sphere.jpg" />
        <p>What is Monochrome? <a href="/registration.php">Join us</a>, to find out</p>
    </div>
    <footer>
        <p><a href="/">Monochrome!</a> &copy; 2014</p>
    </footer>
</body>
</html>