<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset='utf-8'>
    <title>Monochrome login</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" media="screen" />
    <script src="/code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/code.jquery.com/bootstrap.min.js"></script>
</head>
<body>
<header>
    <ul class="nav nav-pills pull-right">
        <li><a href="/">Home</a></li>
        <li><a href="/registration.php">Registration</a></li>
        <li class="active"><a href="/login.php">Login</a></li>
    </ul>
    <div>
        <h1>Monochrome login</h1>
    </div>
</header>
<div class="jumbotron">
    <div id="loginform" class="container">
        <img class="logo" src="/img/core-of-sphere.jpg" align="top" alt="logo"/>
        <div class="container">
            <form method="post">
                <div>
                    <label>Login:</label>
                    <input type="text" name="login" value="<?php echo $login; ?>" required/>
                </div>
                <div>
                    <label>Password:</label>
                    <input type="password" name="password" required />
                </div>
                <div>
                    <label>Remember me</label>
                    <input type="checkbox" name="rememberme" <?php if($rememberme=='on') echo "checked"; ?>/>
                </div>
                <div>
                    <input id="submit" class="btn btn-primary btn-lg" type="submit" value="Login" />
                </div>

            </form>
        </div>
    </div>
    <?php
		if (!empty($message) && isset($message_class))
		{
			echo "<div class=\"alert ${message_class}\">";
            echo '<p>' . implode ($message, '<br />') . '</p>';
            echo '</div>';
        }
    ?>
</div>
<footer>
    <p><a href="/">Monochrome!</a> &copy; 2014</p>
</footer>
</body>
</html>